<html>
	<head>
		<title> EVENTOS_SIP </title>
		<meta name="description" content="Tela gestão SIP">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<link rel="stylesheet" href="../css/style_gestao.css" >
	</head>
	
	<body>
		<nav  role="navigation">
			<div class="header-bar">
				<a href="gestao.html"><img src="../imagens/PITAGORAS_LOGO.png" class="img-logo"></a>
			</div>
			<div class="nav-bar" role="navigation">
				<div class="nav-bar-">
					<ul class="nav-bar-menu" id="side-menu">
						<li>
							<a href="gestao.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
						</li>
						<li>
							<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Palestras >
							</a>
							<div id="collapseTwo" class="collapse" data-parent="#accordion" role="tabpanel" aria-labelledby="headingTwo">
								<ul class="nav nav-second-level" aria-expanded="false">
									<li>
										<a href="formulario_criacao_palestra.html">Cadastrar palestras</a>
									</li>
									<li>
										<a href="listas_palestras.html">Listar palestras</a>
									</li>
								</ul>
							</div>
							<div data-toggle="collapse">
							</div>
						</li>			
					</ul>
				</div>
			</div>
		</nav>
		<script src="../js/gestao.js"></script>
		<script src="../js/jquery-slim.min.js"></script>
		<script src="../js/util.js"></script>
		<script src="../js/collapse.js"></script>
	</body>
</html>